.para {
  border: 1px solid red;
  /* visibility: hidden; */
  visibility: visible;
}

.para .tag {
  border: 1px solid blue;
  width: 350px;
  /* display: inline-block; */
  display: none;
}

.nav {
  border: 1px solid green;
}

.nav li {
  border: 1px solid blue;
  display: inline;
}

p.one {
  border-style: solid;
  /* border-color: green; */
  border-top-color: red;
  border-bottom-color: blue;
  border-left-color: yellow;
  border-right-color: green;
}
p.two {
  border-style: dotted;
}
p.three {
  border-style: dashed;
}
p.four {
  border-style: double;
}
p.five {
  border-style: groove;
}
p.six {
  border-style: ridge;
}
p.seven {
  border-style: inset;
}
p.eight {
  border-style: outset;
}

.content-center {
  border: 10px solid red;
  width: 500px;
  margin: 0px auto;
}

.box {
  background-color: aqua;
  width: 250px;
  height: 250px;
  margin: 10px;
  display: inline-block;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  /* box-shadow: 10px 15px 10px lightblue inset; */
}
.shadow-1 {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.shadow-2 {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.shadow-3 {
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.shadow-4 {
  box-shadow:
    rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}


.un-or{
    border: 1px solid red;
    /* list-style-type: circle; */
    /* list-style-type: square; */
    /* list-style-type: none; */
    list-style-type: disc;
    /* list-style-position: outside;
    list-style-position: inside; */
    list-style: inside circle;
}

.un-or li{
    border: 1px solid blue;
}

.ol-or{
    /* list-style: decimal-leading-zero; */
    /* list-style: upper-alpha; */
    /* list-style: lower-alpha; */
    /* list-style: lower-roman; */
    list-style: upper-roman;
}